<style>
</style>
<div id="table" class="block" ng-controller="forecastCtrl">
    <div class="text-summary">
        <p class="short-msg">{{ messages.getShortMsg() }}</p>
        <p class="long-msg">{{ messages.getLongMsg() }}</p>
        <span class="more" ng-click="toggleSummaryMsg()">
            <i class="fa fa-angle-right"></i>
            <span>Meer</span>
        </span>
    </div>
    <div class="forecast">
        <table id="week">
            <thead>
            <tr>
                <th></th>
                <th>
                    <i class="wi wi-thermometer"></i>
                </th>
                <th>
                    <i class="wi wi-rain-mix"></i>
                </th>
                <th>
                    <i class="wi wi-cloudy-windy"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for day in forecastData.getDays() %}
                {% if loop.index > 5 %}
                    <tr class="extra">
                {% else %}
                    <tr>
                {% endif %}
                {% if loop.index == 1 %}
                    <td>Vandaag</td>
                {% elseif loop.index == 2 %}
                    <td>Morgen</td>
                {% else %}
                    <td>{{ day.getDayname() }}</td>
                {% endif %}
                <td>
                    <div class="max-temp">
                        <span class="value">{{ day.getMaxTemp() }}</span>
                        <span class="suffix">&deg;C</span>
                    </div>
                    <div class="min-temp">
                        <span class="value">{{ day.getMinTemp() }}</span>
                        <span class="suffix">&deg;C</span>
                    </div>
                </td>
                <td>
                    <span class="value">{{ day.getRain() }}</span>
                    <span class="suffix">%</span>
                </td>
                <td>
                    <span class="value">{{ day.getBeaufort() }}</span>
                    <span class="suffix">bft</span>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <span class="more" ng-click="toggleMore()">
            <i class="fa fa-angle-right"></i>
            <span>Meer</span>
        </span>
    </div>
</div>
