<div id="summary" class="block" ng-controller="summaryCtrl">
    <div class="measurements">
        <div class="measurement {{ rating.getTemp() }} tooltipster" title="Normaal is het {{ historicData.getTempAvg() }} &deg;C">
            <p>
                <i class="wi wi-thermometer"></i>
                <span class="value">{{ presentData.getTemp() }}</span>
                <span class="suffix">&deg;C</span>
            </p>
        </div>
        <div class="measurement {{ rating.getRain() }} tooltipster" title="Normaal valt er {{ historicData.getRainAvg() }} mm/uur">
            <p>
                <i class="wi wi-rain-mix"></i>
                <span class="value">{{ presentData.getRain() }}</span>
                <span class="suffix">mm</span>
            </p>
        </div>
        <div class="measurement {{ rating.getWind() }} tooltipster" title="Normaal is het windkracht {{ historicData.getBeaufortAvg() }}">
            <p>
                <i class="wi wi-cloudy-windy"></i>
                <span class="value">{{ presentData.getBeaufort() }}</span>
                <span class="suffix">bft</span>
            </p>
        </div>

    </div>
    <div id="text-summary" ng-hide="longMsg">
        <p>{{ messages.getShortMsg() }}</p>
        <span class="more" ng-click="toggleSummaryMsg()">
            <i class="fa fa-angle-right"></i>
            <span>Meer</span>
        </span>
    </div>
    <div id="text-summary" ng-show="longMsg">
        <p>{{ messages.getLongMsg() }}</p>
        <span class="more" ng-click="toggleSummaryMsg()">
            <i class="fa fa-angle-up"></i>
            <span>Minder</span>
        </span>
    </div>
</div>