<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <!-- Basic SEO properties -->
    <title>Is het kutweer v2</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/General/main.css"/>
</head>
<body>
<header id="page">
    <div class="{{ rating.getOverall() }}" id="payoff">
        <p>{{ rating.getMessage() }}</p>
    </div>
    <div id="location-search">
        <i class="fa fa-location-arrow"></i>
        <span id="location">{{ station.getName() }}</span>
    </div>
</header>
<div class="content">
    <div id="summary" class="block">
        <div class="measurements">
            <div class="measurement {{ rating.getRain() }}">
                <p>
                    <i class="wi wi-rain-mix"></i>
                    <span class="value">{{ presentData.getRain() }}</span>
                    <span class="suffix">mm</span>
                </p>
            </div>
            <div class="measurement {{ rating.getTemp() }}">
                <p>
                    <i class="wi wi-thermometer"></i>
                    <span class="value">{{ presentData.getTemp() }}</span>
                    <span class="suffix">&deg;C</span>
                </p>
            </div>
            <div class="measurement {{ rating.getWind() }}">
                <p>
                    <i class="wi wi-cloudy-windy"></i>
                    <span class="value">{{ presentData.getWindspeed() }}</span>
                    <span class="suffix">km/h</span>
                </p>
            </div>

        </div>
        <div id="text-summary">
            <p>{{ messages.getShortMsg() }}</p>
        </div>
    </div>
    {% include 'partials/forecast.twig' %}
</div>
</body>
</html>